<div class="row">
  <button
    mat-menu-item
    [matMenuTriggerFor]="show"
    class="button"
  >
    <span class="white">
      {{ functionName }}
    </span>
    <mat-icon class="icon">
      arrow_drop_down
    </mat-icon>
  </button>
</div>

<mat-menu
  #show="matMenu"
  class="nestedDropdownMenu"
>
  <ng-container *ngFor="let item of navData">
    <ng-container *ngIf="item.canShow">
      <button
        mat-menu-item
        (click)="changeDropdown(item)"
      >
        <span class="white">
          {{ item.text }}
        </span>
      </button>
    </ng-container>
  </ng-container>
</mat-menu>