.button {
  width: auto;
  border-radius: 18px;
  height: 56px;
}

.row {
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
  align-content: center;
}

.icon {
  position: relative;
  bottom: 1px;
  color: black !important;
}

::ng-deep .nestedDropdownMenu {
  max-height: 500px !important;

  &::-webkit-scrollbar {
    width: 9px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.18);
  }
}