<div class="mainColor container">
  <h1
    mat-dialog-title
    class="title"
  >
    <span class="black">
      Dodaj ofertę
    </span>
  </h1>
  <form [formGroup]="offerForm">
    <div mat-dialog-content>
      <my-input
        appearance="fill"
        class="fix backgroundColor"
        label="Cena"
        type="text"
        controlName="price"
      >
      </my-input>

      <mat-form-field
        class="fix backgroundColor"
        [hideRequiredMarker]="true"
      >
        <mat-label class="black">Produkt</mat-label>
        <mat-select formControlName="product">
          <mat-option
            *ngFor="let item of products$ | async"
            [value]="item.id"
          >
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="fix backgroundColor"
        [hideRequiredMarker]="true"
      >
        <mat-label class="black">Punkt sprzedaży</mat-label>
        <mat-select formControlName="salesPoint">
          <mat-option
            *ngFor="let item of salesPointsFixedNames"
            [value]="item.id"
          >
            {{ item.changedName }}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
  </form>
  <div class="position">
    <button
      [disabled]="!offerForm.valid"
      class="button"
      mat-stroked-button
      (click)="handleFormSubmit()"
      [mat-dialog-close]="'logged'"
    >
      <span class="white">
        Dodaj
      </span>
    </button>
  </div>
</div>